.searchBar-container {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.right-logos {
  width: 33.33%;
}

.left-logos {
  width: 33.33%;
}

.cameraLogo {
  width: 35px;
  height: auto;
  margin: 15px;
}

.instagramLogo {
  width: 146px;
  height: auto;
}

.heart {
  width: 25px;
  height: auto;
}

.searchForm {
  width: 260px;
  height: 30px;
}
